

<div class="container">
<h2 class ="border"> <%=@article.title %> 
<%= link_to "Edit", edit_article_path %>
<%= link_to "Delete",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %></h2>

<p><%= @article.content %></p>
</div>
